<div class="search-container">
  <div class="content-type-selector">
    <mat-button-toggle-group [formControl]="contentTypeControl" class="content-toggle">
      <mat-button-toggle value="multi">
        <mat-icon>search</mat-icon>
        <span>All</span>
      </mat-button-toggle>
      <mat-button-toggle value="movie">
        <mat-icon>movie</mat-icon>
        <span>Movies</span>
      </mat-button-toggle>
      <mat-button-toggle value="tv">
        <mat-icon>tv</mat-icon>
        <span>TV Shows</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  
  <div class="search-wrapper">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Find content</mat-label>
      <input 
        matInput 
        [formControl]="searchControl" 
        placeholder="Enter title to search" 
        (keyup.enter)="onSearch()"
        autocomplete="off"
      >
      <mat-icon matPrefix class="search-icon">search</mat-icon>
      <button 
        *ngIf="searchControl.value" 
        matSuffix 
        mat-icon-button 
        aria-label="Clear" 
        (click)="clearSearch($event)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
    <button 
      mat-raised-button 
      color="accent" 
      class="search-button" 
      (click)="onSearch()"
      [disabled]="!searchControl.value"
    >
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
  </div>
</div>
